.main {
  display: flex;
  flex-direction: column;  
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: url('/imgporta.jpg');     
  background-size:cover ;
  background-repeat: no-repeat;
  background-position: center;  
}

.container {
  background-color: #fff;
  width: 300px;
  max-width: 28rem;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.8), 0 1.5px 4px rgba(0, 0, 0, 0.4);
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  text-align: center;
  color: #1f2937;
}