.main {
  display: flex;
  flex-direction: column;    
  align-items: center;
  justify-content: center;
  width: 100%;  
  min-height: 100dvh;
  background-image: url('/imgporta.jpg');     
  background-size:cover ;
  background-repeat: no-repeat;
  background-position: center;  
}
.descricao {
  margin-bottom: 100px;
}

.container {
  background-color: #fff;
  width: auto;
  min-width: 250px;  
  height: auto;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.8), 0 1.5px 4px rgba(0, 0, 0, 0.4);
}

.user{
  text-align: center;
  color: gray;
}
.button{  
  display: flex;
  justify-content: center;  
  margin-top: 10px;
}

.loginForm {
  display: flex;
  flex-direction: column;    
}

.title{
  text-align: center;
  color: #374151;
}

.formGroup {
  margin-bottom: 0.5rem;
}  

.label {
  display: block;
  font-size: 1.2rem;  
  color: #374151;
  margin-bottom: 0.25rem;
}

.input {
  width: 95%;
  padding: 0.3rem 0.5rem;
  border: 1px solid #d97706;
  border-radius: 10px;
  font-size: 1rem;
  color: #1f2937;
  outline: none;
  transition: border-color 0.2s, box-shadow 0.2s;
}

.input:focus {
  border-color: #f59e42;
  box-shadow: 0 0 0 2px #fde68a44;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.8), 0 1.5px 4px rgba(0, 0, 0, 0.4);
}

.relativeGroup {
  position: relative;
}

.showSenhaBtn {
  position: absolute;
  right: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0.85rem;
  color: #6b7280;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0 0.25rem;
}

.errorMsg {
  color: #dc2626;
  font-size: 0.95rem;
  text-align: center;
  margin-top: 0.5rem;
}
.successMsg {
  color: #16a34a;
  font-size: 0.95rem;
  text-align: center;
  margin-top: 0.5rem;
} 

.link {
  color: #171717;
  text-decoration: none;
  margin: 20px auto 0 auto;
  position: relative;
  padding: 0.25rem 0;
  transition: color 0.2s;   
  width: 120px;    
}

.link::after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  right: 50%;
  bottom: 0;
  width: 0;
  height: 2px;
  background: #ff8c09;
  transition: width 0.3s cubic-bezier(.4, 0, .2, 1), left 0.3s cubic-bezier(.4, 0, .2, 1);
}

.link:hover {
  color: #ff8c09;
}

.link:hover::after {
  width: 90%;
  left: 0;
}

@media screen and (max-width: 480px) {
  .main{
    height: auto;
  }
}