@import url('https://fonts.googleapis.com/css2?family=Blinker&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: Blinker;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: rgb(82, 82, 82);
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}