* {
  padding: 0;
  margin: 0;    
}

/* :root {
  --font-blinker: 'Blinker', sans-serif;  
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: rgb(27, 27, 27);
    --foreground: #ededed;    
  }
} */
:root {
  --background: #ffffff;
  --foreground: #000000;
  --orange: #ff8c09;
  --gray: gray;  
}

/* Tema escuro */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #1b1b1b;
    --foreground: #ededed;    
    --gray: black;
  }
}

body {
  font-family: var(--font-blinker);    
  background: var(--background);
  color: var(--foreground);
}